<!-- <h2>New Registration</h2>
<div>
  <ngauth-new-registration #ngAuthNewRegistration (onUserRegistered)="onUserRegistered($event);"></ngauth-new-registration>
</div> -->

<mat-vertical-stepper linear="true">
  <mat-step stepControl="registerForm" label="Register">
    <ngauth-new-registration #ngAuthNewRegistration (onUserRegistered)="onUserRegistered($event);"></ngauth-new-registration>
  </mat-step>
  <mat-step stepControl="confirmForm" label="Confirm Registration">
    <ngauth-confirm-registration #ngAuthConfirmRegistration (onRegistrationConfirmed)="onRegistrationConfirmed($event);"></ngauth-confirm-registration>
  </mat-step>
</mat-vertical-stepper>

<hr>

<div>
  Login
</div>
