<h2>Confirm Registration</h2>
<div>
  <ngauth-confirm-registration #ngAuthConfirmRegistration (onRegistrationConfirmed)="onRegistrationConfirmed($event);"></ngauth-confirm-registration>
</div>

<hr>

<div>
  Resend - Register - Login
</div>
