<!-- <h2>Resend Confirmation Code</h2>
<div>
<ngauth-resend-code #ngAuthResendCode (onResendCodeSubmitted)="onResendCodeSubmitted($event);"></ngauth-resend-code>
</div> -->

<mat-vertical-stepper linear="true">
  <mat-step stepControl="resendForm" label="Resend Code">
    <ngauth-resend-code #ngAuthResendCode (onResendCodeSubmitted)="onResendCodeSubmitted($event);"></ngauth-resend-code>
  </mat-step>
  <mat-step stepControl="confirmForm" label="Confirm Registration">
    <ngauth-confirm-registration #ngAuthConfirmRegistration (onRegistrationConfirmed)="onRegistrationConfirmed($event);"></ngauth-confirm-registration>
  </mat-step>
</mat-vertical-stepper>

<hr>

<div>
  Register - Login
</div>
